<%= form_with(model: seen_animal, local: true) do |form| %>
  <% if seen_animal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(seen_animal.errors.count, "error") %> prohibited this seen_animal from being saved:</h2>

      <ul>
      <% seen_animal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :species %>
    <%= form.text_field :species %>
  </div>

  <div class="field">
    <%= form.label :count_of_times_seen %>
    <%= form.number_field :count_of_times_seen %>
  </div>

  <div class="field">
    <%= form.label :location_of_last_seen %>
    <%= form.text_field :location_of_last_seen %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
